@model IEnumerable<Materiaal.ViewModels.Artikels.ArtikelIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.artikel.art_Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.artikel.voorraad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categorie.cat_Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.artikel.prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.artikel.Leverancier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.artikel.art_Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.artikel.voorraad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorie.cat_Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.artikel.prijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.artikel.Leverancier)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.artikel.art_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.artikel.art_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.artikel.art_Id })
        </td>
    </tr>
}

</table>
